body {
  color: antiquewhite;
  color:black;
}
#btn1 {
  margin: 20px;
  font: bold;
  font-family: 'lato';
  background-color: grey;
  border-radius: 6.5px;
  border-width: 0.75px;
  color: white;
}
par{
  color: black;
  font-style: italic;
}
#text{
text-align:center;
text-rendering:optimizeLegibility;
}
